.story {
    padding-block: 100px;
    padding-inline: 20px;
    margin-block: 50px;
}

.story__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.story__content p {
    font-size: 18px;
    text-align: center;
}

.story__content img {
    max-width: 50%;
}

@media (min-width: 768px) {
    .story__content {
        gap: 50px;
    }

    .story__content p {
        font: var(--heading1Font);
    }
}